<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8704267346928795"
     crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>{{ post.snippet }}</title>
  </head>
  <body>
   <nav class="navbar navbar-expand-lg navbar-dark " style="position: fixed; background-color: #0083b7; width: 100%; z-index: 1;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home'%}">
        <h1>AryanDoesWhatever</h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'index' %}">HOME</a>
          </li>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">BLOG</a>
          </li>
             <li class="nav-item">
            <a class="nav-link" href="#">YOUTUBE</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
   <div class="content" style="padding-top: 100px; padding-left: 50px; padding-right: 20px; font-size: 20px;">
       <h2>{{ post.title }}</h2>
  <small>by: {{ post.author.first_name }} {{ post.author.last_name }}</small>
       {% if user.is_authenticated %}
       {% if user.id == post.author.id %}
       ---<a href="{% url 'update_post' post.pk %}"><button class="btn btn-primary">(Edit)</button></a>
       <a href="{% url 'delete_post' post.pk %}"><button class="btn btn-danger">(Delete Post)</button></a>
       {% endif %}
       {% endif %}
       <br>
     <ul>
       <li><small>Posted on:{{ post.post_date }}</small></li>
     </ul>

  <hr>
       {% if post.header_image %}
       <img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" src="{{ post.header_image }}" alt="">
       {% endif %}
       <br>
  {{ post.body|safe }} <br>
   </div>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>
